LocaLLM.json
{
  "active": false,
  "connections": {
    "Get Models": {
      "main": [
        [
          {
            "node": "Extract Model IDsto Run Separately",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get Models",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get timeDifference": {
      "main": [
        [
          {
            "node": "Prepare Data for Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Model with Dunamic Inputs": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Response Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyze LLM Response Metrics": {
      "main": [
        [
          {
            "node": "Save Results to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture End Time": {
      "main": [
        [
          {
            "node": "Get timeDifference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Start Time": {
      "main": [
        [
          {
            "node": "Add System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data for Analysis": {
      "main": [
        [
          {
            "node": "Analyze LLM Response Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Model IDsto Run Separately": {
      "main": [
        [
          {
            "node": "Capture Start Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add System Prompt": {
      "main": [
        [
          {
            "node": "LLM Response Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Response Analysis": {
      "main": [
        [
          {
            "node": "Capture End Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-23T02:33:50.822Z",
  "id": "UTTJey7CpgnSndTG",
  "meta": null,
  "name": "LocaLLM",
  "nodes": [
    {
      "parameters": {
        "content": "## 🧠Text Analysis\n### Readability Score Ranges:\nWhen testing model responses, readability scores can range across different levels. Here’s a breakdown:\n\n- **90–100**: Very easy to read (5th grade or below)\n- **80–89**: Easy to read (6th grade)\n- **70–79**: Fairly easy to read (7th grade)\n- **60–69**: Standard (8th to 9th grade)\n- **50–59**: Fairly difficult (10th to 12th grade)\n- **30–49**: Difficult (College)\n- **0–29**: Very difficult (College graduate)\n- **Below 0**: Extremely difficult (Post-graduate level)\n",
        "height": 347.82258064516134,
        "width": 478.38709677419376,
        "color": 6
      },
      "id": "7f7f7028-a56f-4dba-b777-c67cb7bb7f0a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -300,
        680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "http://<<PRIVATE_IP_REMOVED>>9000/v1/models",
        "options": {
          "allowUnauthorizedCerts": false,
          "timeout": 10000
        }
      },
      "id": "e9c3afbc-6389-4f57-bd48-6e19ee49c3f4",
      "name": "Get Models",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1880,
        440
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "##  ⚙️ 2. Update Local IP\nUpdate the **'Base URL'** `http://<<PRIVATE_IP_REMOVED>>1234/v1/models` in the workflow to match the IP of your LM Studio server. (Running LM Server)[https://lmstudio.ai/docs/basics/server]\n\nThis node will query the LM Studio server to retrieve a list of all loaded model IDs at the time of the query. If you change or add models to LM Studio, you’ll need to rerun this node to get an updated list of active LLMs.\n",
        "height": 264.22580645161304,
        "width": 377.6129032258063
      },
      "id": "d801ddd8-8196-473b-834e-81a9ab964f9f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2040,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2dd5f826-7a37-4536-b076-ae641abdb1c9",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -2200,
        440
      ],
      "webhookId": "<<NODE_WEBHOOKID_REMOVED>>",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## 🛠️1. Setup - LM Studio\nFirst, download and install [LM Studio](https://lmstudio.ai/). Identify which LLM models you want to use for testing.\n\nNext, the selected models are loaded into the server capabilities to prepare them for testing. For a detailed guide on how to set up multiple models, refer to the [LM Studio Basics](https://lmstudio.ai/docs/basics) documentation.\n",
        "height": 216.12903225806457,
        "width": 378.75806451612857
      },
      "id": "5bd2bfec-6692-47a8-a3ca-ada88c38d5c8",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2640,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "##  3. 💡Update the LM Settings\n\nFrom here, you can modify the following\n parameters to fine-tune model behavior:\n\n- **Temperature**: Controls randomness. Higher values (e.g., 1.0) produce more diverse results, while lower values (e.g., 0.2) make responses more focused and deterministic.\n- **Top P**: Adjusts nucleus sampling, where the model considers only a subset of probable tokens. A lower value (e.g., 0.5) narrows the response range.\n- **Presence Penalty**: Penalizes new tokens based on their presence in the input, encouraging the model to generate more varied responses.\n",
        "height": 326.0645161290325,
        "width": 570.0000000000002
      },
      "id": "bb2889f2-74da-45c4-8b4b-133058b92f79",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1540,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $('Capture Start Time').item.json.startDateTime }}",
        "endDate": "={{ $json.endDateTime }}",
        "options": {}
      },
      "id": "54d3e995-cd2d-45cd-abd1-b64e1047c557",
      "name": "Get timeDifference",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        -300,
        420
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "##  📊4. Create Google Sheet (Optional)\n1. First, create a Google Sheet with the following headers:\n   - Prompt\n   - Time Sent\n   - Time Received\n   - Total Time Spent\n   - Model\n   - Response\n   - Readability Score\n   - Average Word Length\n   - Word Count\n   - Sentence Count\n   - Average Sentence Length\n2. After creating the sheet, update the corresponding Google Sheets node in the workflow to map the data fields correctly.\n",
        "height": 599.7580645161281,
        "width": 304.3225806451618
      },
      "id": "1d8bb3ec-6365-492f-a436-06c9ca49ff67",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🏗️Setup Steps\n1. **Download and Install LM Studio**: Ensure LM Studio is correctly installed on your machine.\n2. **Update the Base URL**: Replace the base URL with the IP address of your LLM instance. Ensure the connection is established.\n3. **Configure LLM Settings**: Verify that your LLM models are properly set up and configured in LM Studio.\n4. **Create a Google Sheet**: Set up a Google Sheet with the necessary headers (Prompt, Time Sent, Time Received, etc.) to track your testing results.\n",
        "height": 316.9032258064518,
        "width": 359.2903225806448,
        "color": 5
      },
      "id": "7ef48651-928b-41c3-a738-900c4cd22420",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2660,
        60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📖Prompting Multiple LLMs\n\nWhen testing for specific outcomes (such as conciseness or readability), you can add a **System Prompt** in the LLM Chain to guide the models' responses.\n\n**System Prompt Suggestion**:\n- Focus on ensuring that responses are concise, clear, and easily understandable by a 5th-grade reading level. \n- This prompt will help you compare models based on how well they meet readability standards and stay on point.\n  \nAdjust the prompt to fit your desired testing criteria.\n",
        "height": 272.241935483871,
        "width": 615.8064516129025
      },
      "id": "f8c9061e-5089-41e1-9a9b-1200e831dcc1",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1340,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "={{ $node['Extract Model IDsto Run Separately'].json.id }}",
        "options": {
          "baseURL": "http://<<PRIVATE_IP_REMOVED>>1234/v1",
          "presencePenalty": 0,
          "temperature": 1,
          "timeout": 250000,
          "topP": 1
        }
      },
      "id": "862a00e9-780c-43f8-917a-1169730b90b0",
      "name": "Run Model with Dunamic Inputs",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -880,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Get the input data from n8n\nconst inputData = items.map(item => item.json);\n\n// Function to count words in a string\nfunction countWords(text) {\n    return text.trim().split(/\\s+/).length;\n}\n\n// Function to count sentences in a string\nfunction countSentences(text) {\n    const sentences = text.match(/[^.!?]+[.!?]+/g) || [];\n    return sentences.length;\n}\n\n// Function to calculate average sentence length\nfunction averageSentenceLength(text) {\n    const sentences = text.match(/[^.!?]+[.!?]+/g) || [];\n    const sentenceLengths = sentences.map(sentence => sentence.trim().split(/\\s+/).length);\n    const totalWords = sentenceLengths.reduce((acc, val) => acc + val, 0);\n    return sentenceLengths.length ? (totalWords / sentenceLengths.length) : 0;\n}\n\n// Function to calculate average word length\nfunction averageWordLength(text) {\n    const words = text.trim().split(/\\s+/);\n    const totalCharacters = words.reduce((acc, word) => acc + word.length, 0);\n    return words.length ? (totalCharacters / words.length) : 0;\n}\n\n// Function to calculate Flesch-Kincaid Readability Score\nfunction fleschKincaidReadability(text) {\n    // Split text into sentences (approximate)\n    const sentences = text.match(/[^.!?]+[.!?]*[\\n]*/g) || [];\n    // Split text into words\n    const words = text.trim().split(/\\s+/);\n    // Estimate syllable count by matching vowel groups\n    const syllableCount = (text.toLowerCase().match(/[aeiouy]{1,2}/g) || []).length;\n\n    const sentenceCount = sentences.length;\n    const wordCount = words.length;\n\n    // Avoid division by zero\n    if (wordCount === 0 || sentenceCount === 0) return 0;\n\n    const averageWordsPerSentence = wordCount / sentenceCount;\n    const averageSyllablesPerWord = syllableCount / wordCount;\n\n    // Flesch-Kincaid formula\n    return 206.835 - (1.015 * averageWordsPerSentence) - (84.6 * averageSyllablesPerWord);\n}\n\n\n// Prepare the result array for n8n output\nconst resultArray = [];\n\n// Loop through the input data and analyze each LLM response\ninputData.forEach(item => {\n    const llmResponse = item.llm_response;\n\n    // Perform the analyses\n    const wordCount = countWords(llmResponse);\n    const sentenceCount = countSentences(llmResponse);\n    const avgSentenceLength = averageSentenceLength(llmResponse);\n    const readabilityScore = fleschKincaidReadability(llmResponse);\n    const avgWordLength = averageWordLength(llmResponse);\n\n    // Structure the output to include original input and new calculated values\n    resultArray.push({\n        json: {\n            llm_response: item.llm_response,\n            prompt: item.prompt,\n            model: item.model,\n            start_time: item.start_time,\n            end_time: item.end_time,\n            time_diff: item.time_diff,\n            word_count: wordCount,\n            sentence_count: sentenceCount,\n            average_sent_length: avgSentenceLength,\n            readability_score: readabilityScore,\n            average_word_length: avgWordLength\n        }\n    });\n});\n\n// Return the result array to n8n\nreturn resultArray;\n"
      },
      "id": "02baf0c1-1d25-4d31-a0e0-3de6699d1f69",
      "name": "Analyze LLM Response Metrics",
      "type": "n8n-nodes-base.code",
      "position": [
        100,
        420
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1GdoTjKOrhWOqSZb-AoLNlXgRGBdXKSbXpy-EsZaPGvg",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<<GOOGLE_SHEET_ID_REMOVED>>/edit?usp=drivesdk",
          "cachedResultName": "Teacking LLM Success"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<<GOOGLE_SHEET_ID_REMOVED>>/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "Model": "={{ $('Extract Model IDsto Run Separately').item.json.id }}",
            "Prompt": "={{ $json.prompt }}",
            "Response ": "={{ $('LLM Response Analysis').item.json.text }}",
            "TIme Sent": "={{ $json.start_time }}",
            "Word_count": "={{ $json.word_count }}",
            "Sentence_count": "={{ $json.sentence_count }}",
            "Time Recieved ": "={{ $json.end_time }}",
            "Total TIme spent ": "={{ $json.time_diff }}",
            "readability_score": "={{ $json.readability_score }}",
            "Average_sent_length": "={{ $json.average_sent_length }}",
            "average_word_length": "={{ $json.average_word_length }}"
          },
          "schema": [
            {
              "id": "Prompt",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Prompt",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "TIme Sent",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "TIme Sent",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Time Recieved ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Time Recieved ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Total TIme spent ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Total TIme spent ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Model",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Model",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Response ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Response ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "readability_score",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "readability_score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "average_word_length",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "average_word_length",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Word_count",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Word_count",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentence_count",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Sentence_count",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Average_sent_length",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Average_sent_length",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "e70ed853-5778-44ae-b509-c31e040c8c72",
      "name": "Save Results to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        280,
        420
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "outputFieldName": "endDateTime",
        "options": {}
      },
      "id": "3cf1b850-83a1-4aed-9106-0a995f13251e",
      "name": "Capture End Time",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        -520,
        420
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "outputFieldName": "startDateTime",
        "options": {}
      },
      "id": "2a14bc09-74b2-4787-a353-e98b8f038291",
      "name": "Capture Start Time",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        -1380,
        420
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "920ffdcc-2ae1-4ccb-bc54-049d9d84bd42",
              "name": "llm_response",
              "type": "string",
              "value": "={{ $('LLM Response Analysis').item.json.text }}"
            },
            {
              "id": "c3e70e1b-055c-4a91-aeb0-3d00d41af86d",
              "name": "prompt",
              "type": "string",
              "value": "={{ $('When chat message received').item.json.chatInput }}"
            },
            {
              "id": "cfa45a85-7e60-4a09-b1ed-f9ad51161254",
              "name": "model",
              "type": "string",
              "value": "={{ $('Extract Model IDsto Run Separately').item.json.id }}"
            },
            {
              "id": "a49758c8-4828-41d9-b1d8-4e64dc06920b",
              "name": "start_time",
              "type": "string",
              "value": "={{ $('Capture Start Time').item.json.startDateTime }}"
            },
            {
              "id": "6206be8f-f088-4c4d-8a84-96295937afe2",
              "name": "end_time",
              "type": "string",
              "value": "={{ $('Capture End Time').item.json.endDateTime }}"
            },
            {
              "id": "421b52f9-6184-4bfa-b36a-571e1ea40ce4",
              "name": "time_diff",
              "type": "string",
              "value": "={{ $json.timeDifference.days }}"
            }
          ]
        },
        "options": {}
      },
      "id": "80bf56aa-eb35-4f9a-8ddb-6d7e85dd9872",
      "name": "Prepare Data for Analysis",
      "type": "n8n-nodes-base.set",
      "position": [
        -100,
        420
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "497a0b44-2cef-47fd-8797-29a03ce4bf67",
      "name": "Extract Model IDsto Run Separately",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -1600,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Optional\nYou can just delete the google sheet node, and review the results by hand.  \n\nUtilizing the google sheet, allows you to provide mulitple prompts and review the analysis against all of those runs.",
        "height": 182.9032258064516,
        "width": 330.4677419354838
      },
      "id": "9ca9c909-5888-4cdd-b835-0d911e0d27b2",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        340,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd48436f-8242-4c01-a7c3-246d28a8639f",
              "name": "system_prompt",
              "type": "string",
              "value": "Ensure that messages are concise and to the point readable by a 5th grader."
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "75e16db0-9c7b-4cfc-8c55-8d4eaa983e89",
      "name": "Add System Prompt",
      "type": "n8n-nodes-base.set",
      "position": [
        -1160,
        420
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.system_prompt }}"
            }
          ]
        }
      },
      "id": "829bd378-8e6d-4d95-babe-368abc8cad19",
      "name": "LLM Response Analysis",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -900,
        420
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "content": "##  🚀Pro Tip \n\nIf you are getting strange results, ensure that you are Deleting the previous chat (next to the Chat Button) to ensure you aren't bleeding responses into the next chat. ",
        "height": 182.91935483870984,
        "width": 570.0000000000002,
        "color": 3
      },
      "id": "1c5c628a-93a1-4e8d-917b-5564d5eafa01",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1520,
        1040
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-23T04:53:55.000Z",
  "versionId": "e91a7f42-6092-471a-9cc3-38963ac92034"
}