PriceTracker2.json
{
  "active": false,
  "connections": {
    "HTML Extract": {
      "main": [
        [
          {
            "node": "getActualPrice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "initItem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getActualPrice": {
      "main": [
        [
          {
            "node": "IF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetchWeb": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FunctionItem": {
      "main": [
        [
          {
            "node": "Move Binary Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data1": {
      "main": [
        [
          {
            "node": "Write Binary File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "FunctionItem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkifexists": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "savedItems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaveToFile": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JsonToBinary": {
      "main": [
        [
          {
            "node": "SaveToFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "changeME": {
      "main": [
        [
          {
            "node": "initItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "initItem": {
      "main": [
        [
          {
            "node": "fetchWeb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "savedItems": {
      "main": [
        [
          {
            "node": "itemsToJSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "itemsToJSON": {
      "main": [
        [
          {
            "node": "updateSavedItems1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "changeME",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "initItem1": {
      "main": [
        [
          {
            "node": "changeME",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "NotifyBetterPrice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateSavedItems": {
      "main": [
        [
          {
            "node": "JsonToBinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateSavedItems1": {
      "main": [
        [
          {
            "node": "updateSavedItems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF4": {
      "main": [
        [
          {
            "node": "NotifyIncorrectPrice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "checkifexists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NotifyBetterPrice": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NotifyIncorrectPrice": {
      "main": [
        [
          {
            "node": "checkifexists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-21T12:43:05.241Z",
  "id": "pFupcCXxfu7NpWax",
  "meta": {},
  "name": "PriceTracker2",
  "nodes": [
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "<<KEY_REMOVED>>",
              "cssSelector": "={{$node[\"initItem\"].json[\"selector\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        -500,
        300
      ],
      "typeVersion": 1,
      "id": "72ec3f12-abce-445e-9514-a8ace9aed7e4"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        -1560,
        300
      ],
      "typeVersion": 1,
      "id": "5b9e1cdc-5465-49d5-a490-34ae7e35f860"
    },
    {
      "parameters": {
        "functionCode": "const globalData = getWorkflowStaticData('global');\n\nvar price = String(item.price).replace(\",\", \".\");\nprice = parseFloat(price);\n//price = price.replace(/\\D/g, '');\n//item.price = String(item.price).replace(\",\", \".\");\n//item.price = parseFloat(item.price);\n\nitem.priceExists = (price > 0 ? true : false)\nitem.price = price;\n\n// Update its data\nglobalData.actualPrice = item;\n\nreturn item;"
      },
      "name": "getActualPrice",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        -300,
        300
      ],
      "typeVersion": 1,
      "id": "07d649eb-6dd4-4bae-9ade-595fe005d3af"
    },
    {
      "parameters": {
        "url": "={{$node[\"initItem\"].json[\"link\"]}}",
        "responseFormat": "string",
        "options": {}
      },
      "name": "fetchWeb",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -680,
        300
      ],
      "typeVersion": 1,
      "id": "ec8f5385-d130-4301-a167-238dc4f05390"
    },
    {
      "parameters": {
        "functionCode": "const globalData = getWorkflowStaticData('global');\n\nglobalData.iteration = 0;\n//var thiselem = $node[\"initItem\"].json;\n\n//const s1 = {'slug': thiselem.slug, \"link\": thiselem.link, \"selector\": thiselem.selector, \"price\":$node[\"getActualPrice\"].json.price, \"currency\": thiselem.currency};\n//const s2 = {'slug': thiselem.slug+'2', \"link\": thiselem.link, \"selector\": thiselem.selector, \"price\":$node[\"getActualPrice\"].json.price, \"currency\": thiselem.currency};\n//const s3 = {'slug': thiselem.slug+'3', \"link\": thiselem.link, \"selector\": thiselem.selector, \"price\":$node[\"getActualPrice\"].json.price, \"currency\": thiselem.currency};\n\nreturn $node[\"changeME\"].json.myWatchers;\n"
      },
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        760,
        300
      ],
      "typeVersion": 1,
      "id": "c09ca63f-6723-48a6-9e45-63a53e20c1a6"
    },
    {
      "parameters": {
        "fileName": "<<ABSOLUTE_FILE_PATH_REMOVED>>",
        "dataPropertyName": "=price",
        "options": {}
      },
      "name": "Write Binary File1",
      "type": "n8n-nodes-base.writeBinaryFile",
      "position": [
        1580,
        300
      ],
      "typeVersion": 1,
      "id": "f1204da7-71f2-4fd5-becf-8062a3940dfe"
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "destinationKey": "<<DESTINATIONKEY_REMOVED>>",
        "options": {}
      },
      "name": "Move Binary Data1",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        1160,
        300
      ],
      "typeVersion": 1,
      "id": "2637057f-7e55-4b28-8e2d-5da622578b7d"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"checkifexists\"].json[\"stdout\"]}}",
              "operation": "notEqual",
              "value2": "Exists"
            }
          ]
        }
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "position": [
        280,
        320
      ],
      "typeVersion": 1,
      "id": "43fc29f3-936f-4469-873e-3479ee0d9483"
    },
    {
      "parameters": {
        "command": "if [ -r <<ABSOLUTE_FILE_PATH_REMOVED>> ]; then echo Exists; fi"
      },
      "name": "checkifexists",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        140,
        320
      ],
      "typeVersion": 1,
      "id": "3c4dd0e6-ac6a-4776-bf21-efd6b47f9ca1"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"checkifexists\"].json[\"stdout\"]}}",
              "value2": "Exists"
            }
          ]
        }
      },
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "position": [
        420,
        800
      ],
      "typeVersion": 1,
      "id": "d388ae2a-52fd-4f0a-a8fb-d5fcf23a701b"
    },
    {
      "parameters": {
        "fileName": "<<ABSOLUTE_FILE_PATH_REMOVED>>",
        "dataPropertyName": "=price",
        "options": {}
      },
      "name": "SaveToFile",
      "type": "n8n-nodes-base.writeBinaryFile",
      "position": [
        1380,
        800
      ],
      "typeVersion": 1,
      "id": "49acd20a-68de-426d-b8fa-58a06abf1705"
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "destinationKey": "<<DESTINATIONKEY_REMOVED>>",
        "options": {}
      },
      "name": "JsonToBinary",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        1240,
        800
      ],
      "typeVersion": 1,
      "id": "e8eb249e-2ce8-456d-87be-44dbf4ef60e8"
    },
    {
      "parameters": {
        "functionCode": "const globalData = getWorkflowStaticData('global');\n\n// Bitte die CSS-Selektoren für jede Seite überprüfen und anpassen!\n// Amazon-Selektoren können sich häufig ändern!\nvar myWatchers = [\n  // Amazon ASUS ROG Strix\n  {'slug': 'rtx4090-amazon-asus-strix', 'link': 'https://www.amazon.de/ASUS-GeForce-Grafikkarte-DisplayPort-ROG-STRIX-RTX4090-O24G-GAMING/dp/B0BHD6N2CK', 'selector': 'span.a-price-whole', 'currency': 'EUR'},\n  // Amazon MSI Gaming X Trio (Link scheint aber eine 4090 Suprim zu sein? Bitte Link prüfen!)\n  {'slug': 'rtx4090-amazon-msi-suprim', 'link': 'https://www.amazon.de/MSI-GeForce-4090-Gaming-Grafikkarte/dp/B09YCLG5PB', 'selector': 'span.a-price-whole', 'currency': 'EUR'},\n  // Amazon NVIDIA Founders Edition\n  {'slug': 'rtx4090-amazon-founders', 'link': 'https://www.amazon.de/NVIDIA-GeForce-RTX-4090-Founders/dp/B0BJFRT43X', 'selector': 'span.a-price-whole', 'currency': 'EUR'}\n  // Füge hier weitere DIREKTE Produktseiten-Links hinzu (keine Idealo-Links!)\n];\n\nitem.myWatchers = myWatchers;\nitem.watchersCount = myWatchers.length;\nglobalData.myWatchers = myWatchers;\n\nreturn item;"
      },
      "name": "changeME",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        -1100,
        300
      ],
      "typeVersion": 1,
      "id": "3481cbfe-fba7-44ab-b97a-91584c92af4d"
    },
    {
      "parameters": {
        "functionCode": "const globalData = getWorkflowStaticData('global');\n\nvar counter = globalData.iteration;\n\nitem.myWatchers[counter].watchersCount = item.watchersCount;\nitem.myWatchers[counter].canContinue = (globalData.iteration < item.watchersCount-1 ? true : false);\n//item.myWatchers[counter].canContinue = false;\n\nglobalData.iteration = counter + 1;\n\nreturn item.myWatchers[counter];"
      },
      "name": "initItem",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        -900,
        300
      ],
      "typeVersion": 1,
      "id": "98dfae79-7feb-47cf-b005-1c4a7c68b4d9"
    },
    {
      "parameters": {
        "filePath": "<<ABSOLUTE_FILE_PATH_REMOVED>>",
        "dataPropertyName": "savedItems"
      },
      "name": "savedItems",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        580,
        680
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "id": "4ee22ea6-2307-4ca0-913c-b268a27bc8dc",
      "continueOnFail": true
    },
    {
      "parameters": {
        "sourceKey": "<<SOURCEKEY_REMOVED>>",
        "options": {}
      },
      "name": "itemsToJSON",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        760,
        680
      ],
      "typeVersion": 1,
      "id": "7f00cc48-e138-432f-a05e-e94d5d43d591"
    },
    {
      "parameters": {
        "conditions": {
          "string": [],
          "boolean": [
            {
              "value1": "={{$node[\"initItem\"].json[\"canContinue\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        1920,
        600
      ],
      "typeVersion": 1,
      "id": "f1f9ae5d-9f4b-49fc-8c58-6b15882d6346"
    },
    {
      "parameters": {
        "functionCode": "const globalData = getWorkflowStaticData('global');\n\nglobalData.iteration = 0;\n\nreturn item;"
      },
      "name": "initItem1",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        -1340,
        300
      ],
      "typeVersion": 1,
      "id": "a344a428-cab7-4619-9765-0ebff35bda29"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"getActualPrice\"].json[\"price\"]}}",
              "value2": "={{$node[\"updateSavedItems1\"].json[\"oldPrice\"]}}"
            }
          ],
          "string": []
        }
      },
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "position": [
        1580,
        800
      ],
      "typeVersion": 1,
      "id": "c426922e-fdfe-408a-9add-bce94c113350"
    },
    {
      "parameters": {
        "functionCode": "const globalData = getWorkflowStaticData('global');\n\nvar myitems = [];\nvar i;\nfor (i = 0; i < item.items.length; i++) { \n  if($node[\"initItem\"].json.slug == item.items[i].slug && $node[\"getActualPrice\"].json.price < item.items[i].price) {\n    item.items[i].price = $node[\"getActualPrice\"].json.price;\n  }\n  myitems.push(item.items[i]);\n} \n\nreturn myitems;\n"
      },
      "name": "updateSavedItems",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        1080,
        800
      ],
      "typeVersion": 1,
      "id": "9ee57431-2f0e-4979-8f36-3d08e121cd5b"
    },
    {
      "parameters": {
        "functionCode": "const globalData = getWorkflowStaticData('global');\nvar oldPrice = null;\nvar myitems = [];\nvar i;\nfor (i = 0; i < item.length; i++) {\n  if($node[\"initItem\"].json.slug == item[i].slug) {\n\n    item[i].link = $node[\"initItem\"].json.link;\n    item[i].selector = $node[\"initItem\"].json.selector;\n    item[i].currency = $node[\"initItem\"].json.currency;\n    \n    if(!item[i].price){\n      item[i].price = $node[\"getActualPrice\"].json.price;\n    }\n    \n    if($node[\"getActualPrice\"].json.price < item[i].price){\n      oldPrice = item[i].price;\n      item[i].price = $node[\"getActualPrice\"].json.price;\n    }\n    \n    \n  }\n  \n  myitems.push(item[i]);\n} \n\n//item.somar = $node[\"initItem\"].json;\n//return globalData.actualPrice;\n\nvar itemm = {};\nitemm.items = myitems;\nitemm.oldPrice = oldPrice;\nreturn itemm;\n"
      },
      "name": "updateSavedItems1",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        940,
        680
      ],
      "typeVersion": 1,
      "id": "ca263511-6b2d-4208-a9fb-ad8101a68ffa"
    },
    {
      "parameters": {
        "command": "file=\"<<ABSOLUTE_FILE_PATH_REMOVED>>\"\n[ -f $file ] && rm $file"
      },
      "name": "cleanData",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        -1560,
        140
      ],
      "typeVersion": 1,
      "id": "1a6913f0-6e23-4c05-bb53-615688c086c9",
      "notes": "This will remove all storaged data."
    },
    {
      "parameters": {
        "conditions": {
          "string": [],
          "boolean": [
            {
              "value1": "={{$node[\"getActualPrice\"].json[\"priceExists\"]}}"
            }
          ]
        }
      },
      "name": "IF4",
      "type": "n8n-nodes-base.if",
      "position": [
        -120,
        300
      ],
      "typeVersion": 1,
      "id": "3403d166-b3a1-46db-ad2f-7d253cfbe505"
    },
    {
      "parameters": {
        "fromEmail": "<<EMAIL_REMOVED>>",
        "toEmail": "<<EMAIL_REMOVED>>",
        "subject": "=Nová cena - {{$node[\"initItem\"].json[\"slug\"]}} - {{$node[\"getActualPrice\"].json[\"price\"]}} {{$node[\"initItem\"].json[\"currency\"]}}",
        "text": "=",
        "html": "=<h2>Nová cena je: {{$node[\"getActualPrice\"].json[\"price\"]}} {{$node[\"initItem\"].json[\"currency\"]}}</h2><br>\nPôvodná cena bola: {{$node[\"updateSavedItems1\"].json[\"oldPrice\"]}} {{$node[\"initItem\"].json[\"currency\"]}}<br>\nURL: {{$node[\"initItem\"].json[\"link\"]}}",
        "options": {}
      },
      "name": "NotifyBetterPrice",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        1580,
        600
      ],
      "typeVersion": 1,
      "id": "93cb1be9-1951-4c0b-ac3f-8784836bba47"
    },
    {
      "parameters": {
        "fromEmail": "<<EMAIL_REMOVED>>",
        "toEmail": "<<EMAIL_REMOVED>>",
        "subject": "={{$node[\"initItem\"].json[\"slug\"]}} - Getting price issue.",
        "text": "=",
        "html": "=Please check the link or selector for the item with slug <strong>{{$node[\"initItem\"].json[\"slug\"]}}</strong><br>\nURL: {{$node[\"initItem\"].json[\"link\"]}}",
        "options": {}
      },
      "name": "NotifyIncorrectPrice",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "b611e579-188f-4df1-af2f-a037887868be"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1100,
        -580
      ],
      "id": "f35cb8f7-4e46-4e01-beeb-fd1ab0f0ca95",
      "name": "nvidia_list"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-21T20:15:27.000Z",
  "versionId": "04032e44-850c-415f-ad8e-c9591cd6500c"
}